:root{
  --colorMain:#161616;
  --colordarkText:#0c0c0c;
  --colorDarkMainColor:#054211;
  --colorText:#11a82f;
  --colorBackground:#232323;
  --postColor:#363636;
  --paragraph:#4E9F3D;
  --postColorHover:#515151;
  --tagColor:#c6c6c6;
  --shadowColor:black;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
h2{
  color: var(--colorText);
  letter-spacing: 2px;
}
p{
  letter-spacing: 2px;
}
html{
    scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
    background-color: var(--colorBackground);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body p{
  color: var(--paragraph);
}
header{
  background-color: var(--colorMain);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.items{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.items li{
  list-style: none;
}
.items i{
  font-size: 1.5rem;
}
.items a{
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  color: var(--colorText);
  font-size: 1.2rem;
  font-weight: 700;
}
.items a:hover{
  /* background-color: var(--colorText); */
  color: var(--colorMain);
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a{
  text-decoration: none;
  font-weight: 900;
  font-family: 'Pixelify Sans', sans-serif;
}

.logo a
{
  font-size: 50px;
 text-transform: uppercase;
background-image: linear-gradient(
  -225deg,
  #175e15 0%,
  #175e17 10%,
  #1e611c 20%,
  #2e7e2d 30%,
  #66c04b 40%,
  #76bc7f 50%,
  #77cc7a 60%,
  #67b64f 70%,
  #2e7e2d 80%,
  #1e611c 90%,
  #175e15 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 2s linear infinite;
display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@keyframes animator{
    0%{
        opacity: 0;
        transform: translateX(10%);
    }100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

/*nav hover*/
.navi ul li a{
  position:1ative;
  text-decoration:none;
  transition:0.5s;
}

.navi ul:hover li a{
  transform:scale(1);
  opacity:80%;

}

.navi ul li a:hover{
  transform:scale(1.2);
  opacity:1;
  text-decoration:none;
  color:var(--colordarkText);
}

.navi ul li a:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--colorText);
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}

.navi li a:hover:before{
  transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}
.submenu1{
  opacity: 0;
  position: absolute;
  top:35px;
  visibility: hidden;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  left: -400px;
}
/* Add this code to make the submenu appear when hovering over Categories */
.items .list {
  position: relative; /* Add this to create a context for absolute positioning */
}

/* Style for the submenu */
.submenu1 {
  position: absolute;
  top: 100%; /* Position it below the parent list item */
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: all 0.3s; /* Add a transition for a smooth appearance */
  transform: translateX(-20px);
}
.sub{
  position: relative;
  display: flex;
}
.items .list:hover .submenu1 {
  opacity: 1;
  visibility: visible;
  filter: none;
  opacity: 100%;
}

.crypto{
  display: flex;
  flex-direction: column;
}

.sub .crypto ul:hover li a{
  transform:scale(1);
  opacity:80%;

}
.subsubmenu a{
  font-size: 15px;
  color: white;
}
.subsubmenu a:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--postColorHover);
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}
.submenu1{ 
  background-color: hsla(0, 0%, 0%, 80%);
  color: var(--colorText);
}

.art{
  margin: 30px 20px;
    width: 80vw;
    /* background-color: var(--postColor); */
    display: flex;
    justify-content:left;
    border-radius: 10px;
    background-image: url(assets/prochproch.jpg);
}
.profile-pic img{
    width: 100px;
    border-radius: 50%;
}
.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
    padding: 20px 40px;
  }
  .profile-pic input {
    display: none;
  }
  .profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
  }
  .profile-pic .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
  }
  .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
  }
  .profile-pic span {
    display: flex;
    padding: 0.2em;
    height: 2em;
  }
  body a:hover {
    text-decoration: none;
  }

  .name,.phone,.E-mail{
    color:var(--colorText);
    background-color: var(--colorBackground);
    border-radius: 5px;
    padding-left: 10px;  
    box-shadow: 2px 2px 0px black;  
  }

  .properties{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.art{
  padding: 30px;
}

  main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.tagForPost{
  width: 100%;
  display: flex;
  padding: 5px;
  justify-content: center;
}
.timePassed{
  color: var(--colordarkText);
  filter: drop-shadow(0px 0px 5px var(--tagColor));
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 50%);
  min-width: 200px;
  min-height: 300px;
  right: 57px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  top: 65px;
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--paragraph);
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--postColorHover);
  color: var(--colordarkText);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#active{
  background-color: var(--colorText);
}
#active i{
  color: var(--colorMain);
}
.post h3,.post p{
  color: var(--tagColor);
  padding: 5px;
  text-align: center;
}
.post{
  display: flex;
  width: calc(100vw/2.5);
  margin-top: 30px;
  background-color: var(--postColor);
  border-radius: 10px;
  max-height: 40vh;
  justify-content: space-around;
  filter: drop-shadow(0px 0px 10px var(--shadowColor));
}
.picName{
  display: flex;
  height: 60px;
}
.picName h2,.picName p{
  padding: 5px;
}
h2{
  color: var(--colorText);
  filter: drop-shadow(2px 2px 0px black);
}
p,h3{
  color: var(--tagColor);
}
.picName img{
  width: 50px;
  height: 50px;
  border: 3px solid var(--colorText);
  border-radius: 50%;
  padding: 2px;
}
.postImage{
  width: 40%;
  min-width: 150px;
  object-fit: cover;
  overflow: hidden;
  margin: 5px;
}
.textAfterPic{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.infoContain{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.postParagraph{
  padding-bottom: 20px;
}
.notification button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: none;
  font-size: 28px;
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--colorText);
  background-color: var(--colorBackground);
  cursor: pointer;
}


.title{
  padding: 0 10px;
  color: var(--tagColor);
  letter-spacing: 1px;
}


@media (min-width:769px) and (max-width:1024px) {
  .logo{
      display: none;
  }
  .navi{
      width: 100%;
  }
  .submenu1{
      display: none;
  }
  .navi{
      width: 100%;
  }
  .regi{
      margin: 0 20px;
  }
  .list{
      width: 100%;
  }
  .list a{
      width: 50%;
  }
  .profile-pic .-label {
    height: 130px;
    width: 130px;
  }
  .profile-pic img {
    width: 130px;
    height: 130px;
  }  
  .post{
    width: calc(100vw/1.2);
}
.post h3{
  font-size: 1rem;
}
.post p{
  font-size: 13px;
}
}

@media(max-width:769px){
  .logo{
      display: none;
  }
  .navi{
      width: 100%;
      position:fixed;
      bottom: 0;
      z-index: 10;
      background-color: var(--colorBackground);
  }
  header{
      display: flex;
      flex-direction: column;
  }

  footer{
        margin-top: 350px;
        margin-bottom:70px;
    }
   main{
    margin-bottom: 80px;
  }
  .submenu1{
      display: none;
  }
  .regi{
      margin: 0 20px;
  }
  
  .list{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .list a{
      width: 70%;
  }
  /* .profile-pic{
    width: 70px;
    height: 70px;
  } */
  .art{
    flex-direction: column;
  }
  .profile-pic .-label {
    height: 100px;
    width: 100px;
  }
  .profile-pic img {
    width: 100px;
    height: 100px;
  }  
  .post{
    width: calc(100vw/1.2);
}
  .picName{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .picName img{
    width: 30px;
    height: 30px;
  }
  .textAfterPic h2{
        font-size: 12px;
      }
.postImage{
    min-width: 130px;
  }
  .post h3{
    font-size: 10px;
}
.post p{
    font-size: 10px;
}
}
